
/*General Styling*/

$bg-color: #F2ECD8;

$primary-color: #C11022;
$pink:#DC9CDA;
$green:#569750;
$light-green:#8FCE89;
$yellow:#F2C104;
$blue:#3C5FB8;

@mixin heading1($font-wght:700, $color:$primary-color,$fnt-size: 40px,$fnt-style:italic){
    font-weight: $font-wght;
    color: $primary-color;
    font-size: $fnt-size;
    font-style: $fnt-style;
}
@mixin dinvej1($bg-color: $light-green, $border-color: $green, ){
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: $bg-color;
        border-radius: 55px;
        border: 4px solid $border-color;
        width: 456px;
        height: 425px;
}
@mixin box($brd-color: $green,$width:300px, $height:596px){ 
    display: flex;
    flex-direction: column;
    width: $width;
    height: $height;
    border-radius: 55px;
    border: 4px solid $brd-color;
    padding: 45px;
    gap: 30px;

    h3{
        color: black;
    }

    ul li{
        font-size: 24px;
        margin-bottom: 10px;
    }
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Anybody", sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    @include heading1;
    font-style: normal;
    font-size: 64px;
}
h2{
    @include heading1(700,$primary-color,48px, normal);
}
h3{
    @include heading1(500,$primary-color,32px, Italic);
}
p{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black
}
a{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

}

button{
    all: unset;
    width: 212px;
    height: 57px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 84px;
    background-color: $primary-color;
    cursor: pointer;

}
.cta{
    display: flex;
    flex-direction: column;
    max-width:40vw;
    padding: 70px;
    gap: 20px;
}


/*FORSIDE*/

/*header*/

header{
    width: auto;
    min-height: 665px;
    margin: 30px 30px 30px 30px;
  
    background-image: url("../CSS/pics/plastic-bag.png");
    background-size: contain;
    background-repeat: no-repeat;
 
    img{
        width: 25%;
        height: auto;
    
    }
}
.header2{
    background-image: url("../CSS/pics/genbrug.png");
}

/*nav og menu*/

nav {
    li:first-child{
        margin-right: auto;
        margin-left: 10px;
    }
    
    img{
        width: 140px;
        height: 25px;
        
    }
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 72px;

    a{
        height: 100%;
        padding: 30px 30px;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        align-items: center;
        color:black;
    }

    a:hover{
       color: $primary-color;
    }
}

/*sidebar*/

.sidebar{
    position: fixed;
    top: 20;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: $bg-color;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 10px  rgba(0,0,0,0.75);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    img{
        width: 165px;
        height: 34px;
        
    }

    li{
       width: 100%; 
    }
    a{
        width: 100%;
    }
}
.menu-button{
    display: none;
}


/*Section1*/

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    height: 719px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.icon{
    width: 113px;
    height: 93px;
}

/*dinvej*/

.dinvej1{
    @include dinvej1($light-green, $green);
    box-shadow: -11px 4px 4px 0px $green;

    h3{
        color: #fff
    }
    p{
        color: #fff;
    }
}

.dinvej2{
    @include dinvej1(white, $pink);
    box-shadow: -11px 4px 4px 0px $pink;
    h3{
        color: black;
    }
}

.dinvej3{
    @include dinvej1(white, $yellow);
    box-shadow: -11px 4px 4px 0px $yellow;
    h3{
        color: black;
    }
}

.dinvej1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 425px;
    height: 93px;
}
.dinvej1-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 374px;
    height: 113px;
    gap: 10px;
    margin-left: 10px;
}

.arrow{
    width: 60px;
    height: 51px;
    margin-left: 291px;
}

/*section2*/

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;

    
    

    h2{
        margin-top: 50px;
    }
}

.cooking{
    max-width: 1000px;
    height: auto;  
}

.container2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 30px;
    gap: 50px;

}

.donate{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 30px;
    width: 500px;
    gap: 30px;

    img{
    width: 469px;
    height: 381px;
    }
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;

    padding: 0 50px 50px 50px;

    h3{
        text-align: center;
        margin-bottom: 10px;
    }

    ul li{
        font-family: Helvetica, sans-serif;
        font-size: 24px;
        list-style: none;
        margin-bottom: 10px;
    }
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    border: 4px solid #C11022;
    border-radius: 84px;
    padding: 50px;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;

    a{
        color: $primary-color;

        &:hover{
            color: black;
        }
    }
}

/*GENBRUG*/

/*SECTION3*/

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    height: auto;

    h2{
        margin-bottom: 100px;
        margin-top: 50px;
        text-align: center;
    }
   }

.boxes{
    display: flex;
    flex-direction: row;
    
    gap: 50px;
    margin-bottom: 30px;
}

.box1{
   @include box($green);
   

   img{
    width: 103px;
    height: 102px;
   }
}
.box2{
    @include box($pink);

    img{
    width: 210px;
    height: 101px
    }
 }
 .box3{
    @include box($yellow);

    img{
        width: 210px;
        height: 101px
        }
 }
 .box4{
    @include box(black);

    img{
        width: 103px;
        height: 102px;
       }
 }
 .box5{
     @include box($primary-color);

     img{
        width: 103px;
        height: 102px;
       }
  }
  .box6{
     @include box($green);

     img{
        width: 210px;
        height: 101px
       }
  }

  /*Section4*/

  .last{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0 30px 0;

    img{
    width: 622px;
    height: 642px;
    }
    h3{
        color: $blue;
    }
    ul{
        margin-top: 20px;
    }
    ul li{
        font-size: 24px;
        font-family: Helvetica, sans-serif;
        margin-bottom: 5px;
    }
  }

  .text{
    width: 622px;
    
 }










 /*MEDIA QUERIES*/


@media(max-width: 1200px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    header{
        margin:0;
        background-repeat:repeat-y;
        height: 500px;
    }
   /*forside*/

   h1{
    font-size: 48px;
   }
   h2{
    font-size: 40px;
   }
    h3{
     font-size: 28px;
    }

    button{
        width: 150px;
        height: 40px;
        font-size: 20px;
    }
   /*Section1*/
   
    .section1{
         width: 95vw;
        margin-top: 60px;
        
    }
    .container{
        flex-direction: column;
    }

    /*section2*/

    .section2{
        margin-top: 96vh;
        text-align: center;
    }
    .cooking{
        max-width: 569px;
        height: auto;
    }
    .donate{
        align-items: center;
        img{
            width: 333px;
            height: 281px;
            
        }
    }

    .container2{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
        padding-top: 10px;
    }

    .donate{
        align-items: center;
        margin-left: 0;
        max-width: 563px;
        margin-bottom: 40px;
        
    }

    /*Genbrug*/

    
    

    .box1{
        @include box($green,$width: 204px);
        
     
        img{
         width: 103px;
         height: 102px;
        }
     }
     .box2{
         @include box($pink,$width: 204px);
     
         img{
         width: 210px;
         height: 101px
         }
      }
      .box3{
         @include box($yellow,$width: 204px);
     
         img{
             width: 210px;
             height: 101px
             }
      }
      .box4{
         @include box(black,$width: 204px);
     
         img{
             width: 103px;
             height: 102px;
            }
      }
      .box5{
          @include box($primary-color,$width: 204px);
     
          img{
             width: 103px;
             height: 102px;
            }
       }
       .box6{
          @include box($green,$width: 204px);
     
          img{
             width: 210px;
             height: 101px
            }
       }

    /*Footer*/


   
    
}

@media(max-width: 600px){
    
    header{
        margin:0;
        background-repeat:repeat;
        height: 300px;
    }
    .sidebar{
        display: flex;
        width:100%;
        align-items: center;
        height: 70vh;
        margin: 0;
    }

    nav{
        padding: 0 10px;

         ul a{
            justify-content: center;
            padding:30px 0;
        }

         li:first-child{
            margin-left: 0px;
        }
    }

/*forside*/
.cta{
    margin-top: 10vh;
    margin-right: 10px;
   }

h1{
    font-size: 36px;
   }
h2{
    font-size: 32px;
}

/*Section1*/


.dinvej1{
    width: 369px;
    height: 300px;
}
.dinvej2{
    width: 369px;
    height: 300px;
}
.dinvej3{
    width: 369px;
    height: 300px;
}

.dinvej1-1{
    width: 337px;
    height: 93px;
}
.dinvej1-2{
    width: 313px;
    height: 113px;
}
.arrow{
    margin-left: 236px;
}


/*Section2*/
    .section2{
        margin-top:59vh ;
    }

    .container2{
        align-items: center;
    }

    .cooking{
        max-width: 388px;
    }
    .donate{
        width:405px;
    }

    /*Footer*/

    .footer-container{
        flex-direction: column;
    }
    /*Genbrug*/

    /*Section3*/

    .boxes{
        flex-direction: column;
    }

    /*Section4*/

    .last{
        flex-direction: column;

        img{
            width: 311px;
            height: 321px;
        }
    }

    .text{
        width: 311px;

        ul li{
            font-size: 18px;
        }
    }

}

