




*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Anybody", sans-serif;

}

/*forside*/

/*HEADER*/
header{
    min-height:1649px;
    width: auto;
    background-image: url(../billeder/plastic-bag.png);
}
/*nav*/



